app = "xvx-gotify"
primary_region = "sin"
kill_signal = "SIGINT"
kill_timeout = "5s"

[build]
  image = "ghcr.io/webees/gotify"

[mounts]
  source = "app_data"
  destination = "/app/data"

[http_service]
  internal_port = 80
  force_https = true
  min_machines_running = 1

[checks]
  [checks.health]
    grace_period = "30s"
    interval = "15s"
    method = "get"
    path = "/health"
    port = 80
    timeout = "10s"
    type = "http"