app = "gotify"
kill_signal = "SIGINT"
kill_timeout = "5s"
primary_region = "sin"

[build]
image = "ghcr.io/webees/gotify"

[checks.health]
grace_period = "30s"
interval = "15s"
method = "get"
path = "/health"
port = 8080
timeout = "10s"
type = "http"

[http_service]
force_https = true
internal_port = 80
min_machines_running = 1

[[mounts]]
destination = "/app/data"
source = "app_data"
